/*Bootstrap core CSS*/

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.frame {
    width: 95vw;
    height: 90vh;
    border: 3px solid #ccc;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
}
.livingroom-scan {
    position: relative;
    width: 100%;
    height: 100%;
}
.frame {
    position: relative;
}
.threeD-scanner {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 20%;
    width: 10%;
}
.threeD-scanner-simple {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 20%;
    width: 10%;
}